doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= text.pagetitle
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/jquery/jquery.min.js')
        script(type='text/javascript', src='/javascripts/peng/peng.js')
        script(type='text/javascript', src='/javascripts/peng/start.js')
        script(type='text/javascript', src='/javascripts/nav.js')
    body
        div(id='wrap' class='bg')
            canvas(id='canvas')

            div(id='header')
                h1!= text.title
                h2!= text.subtitle
                h3!= text.date

            ul(id='nav')
                each tab in tabs
                    li
                        a(href='javascript:void(0)')!= tab.name

            div(id='content-container')
                div(id='content-bg' class='bg')
                div(id='content')
                    each tab in tabs
                        div(id='#{tab.name}' class='hide')
                            h1!= tab.name
                            div!= tab.text

            hr
            div(id='footer')!= text.footer